In [171]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, roc_auc_score
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import graphviz
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [170]:
test_df = pd.read_csv("titanic/test.csv")
train_df = pd.read_csv("titanic/train.csv")

In [135]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [136]:
total = train_df.isnull().sum()

In [137]:
total

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [138]:
df1=test_df
df=train_df.append(df1)

In [139]:
df=df.drop(['Age', 'Cabin','Name','Ticket'], axis=1)

In [140]:
df.isnull().sum()

Embarked         2
Fare             1
Parch            0
PassengerId      0
Pclass           0
Sex              0
SibSp            0
Survived       418
dtype: int64

In [141]:
df.fillna(df.mean(), inplace=True)

In [142]:
df['Survived']=df['Survived'].astype('int')

In [143]:
df.isnull().sum()

Embarked       2
Fare           0
Parch          0
PassengerId    0
Pclass         0
Sex            0
SibSp          0
Survived       0
dtype: int64

In [144]:
df.head()

  Embarked     Fare  Parch  PassengerId  Pclass     Sex  SibSp  Survived
0        S   7.2500      0            1       3    male      1         0
1        C  71.2833      0            2       1  female      1         1
2        S   7.9250      0            3       3  female      0         1
3        S  53.1000      0            4       1  female      1         1
4        S   8.0500      0            5       3    male      0         0

In [145]:
df['Embarked'].describe()

count     1307
unique       3
top          S
freq       914
Name: Embarked, dtype: object

In [146]:
df['Embarked'].describe()

count     1307
unique       3
top          S
freq       914
Name: Embarked, dtype: object

In [147]:
ports = {"S": int(0), "C": int(1), "Q": int(2)}
df


df['Embarked'] = df['Embarked'].map(ports)

In [148]:
df=df.drop(['Sex'], axis=1)

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 7 columns):
Embarked       1307 non-null float64
Fare           1309 non-null float64
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
SibSp          1309 non-null int64
Survived       1309 non-null int32
dtypes: float64(2), int32(1), int64(4)
memory usage: 76.7 KB

In [156]:
df.fillna(df.mean(), inplace=True)

In [157]:
df['Embarked']=df['Embarked'].astype('int')

In [158]:
df.head()

   Embarked     Fare  Parch  PassengerId  Pclass  SibSp  Survived
0         0   7.2500      0            1       3      1         0
1         1  71.2833      0            2       1      1         1
2         0   7.9250      0            3       3      0         1
3         0  53.1000      0            4       1      1         1
4         0   8.0500      0            5       3      0         0

In [99]:
df.isnull().values.any()

True

In [159]:
df.isnull().values.any()

False

In [160]:
x=df.drop(labels='Survived', axis=1)
y= df['Survived']

In [161]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [162]:

#let's first visualize the tree on the data without doing any pre processing
clf = DecisionTreeClassifier()
clf.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [165]:
feature_name=list(x.columns)
class_name = list(y_train.unique())
feature_name

['Embarked', 'Fare', 'Parch', 'PassengerId', 'Pclass', 'SibSp']

In [174]:
# create a dot_file which stores the tree structure
dot_data = export_graphviz(clf,feature_names = feature_name,rounded = True,filled = True)
# Draw graph
graph = pydotplus.graph_from_dot_data(dot_data)  
graph.write_png("myTree.png")
# Show graph
Image(graph.create_png())

InvocationException: GraphViz's executables not found

In [175]:
clf.score(x_train,y_train)

1.0

In [176]:
py_pred = clf.predict(x_test)

In [177]:
clf.score(x_test,y_test)

0.7531806615776081