In [177]:
import numpy as np
import pandas as pd
import xgboost as xgb
import pickle
from sklearn import datasets
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header = None)

In [178]:
train_set.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [179]:
test_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test' , skiprows = 1, header = None)
col_labels = ['age', 'workclass', 'fnlwgt', 'education', 'education_num','marital_status', 'occupation','relationship', 'race', 'sex', 'capital_gain','capital_loss', 'hours_per_week', 'native_country', 'wage_class']
train_set.columns = col_labels
test_set.columns = col_labels

In [180]:
train_set.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [181]:
test_set.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [182]:
test_set.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
wage_class        0
dtype: int64

In [183]:
test_set.wage_class.unique()

array([' <=50K.', ' >50K.'], dtype=object)

In [184]:
test_set["wage_class"] = test_set["wage_class"].map({ " <=50K.": 0, " >50K.": 1 })

In [185]:
test_set

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,0
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,0
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,0
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,1
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,0
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,0
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,1
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,0
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,0
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,0
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,1
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,1
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,0
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,0
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,0
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,1
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,1
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,0
22,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,0
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,0
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,0
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,1
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,0
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,0
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16251,81,?,26711,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,2936,0,20,United-States,0
16252,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,1
16253,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,1669,40,United-States,0
16254,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,1
16255,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States,1
16256,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,0
16257,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,0
16258,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,0
16259,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,8,United-States,0
16260,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,45,United-States,0
16261,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,1
16262,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
16263,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,0
16264,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States,0
16265,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,?,1
16266,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,32,United-States,0
16267,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,0
16268,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,36,United-States,0
16269,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,0
16270,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,0
16271,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,0
16272,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
16273,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,0
16274,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,0
16275,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,0
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,0
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,0
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,0
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,0
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,1

In [186]:
train_set.wage_class.unique()

array([' <=50K', ' >50K'], dtype=object)

In [187]:
train_set

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [188]:
train_set["wage_class"] = train_set["wage_class"].map({ " <=50K": 0, " >50K": 1 })

In [189]:
train_set

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,1
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,1
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,0
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,1
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,0
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,0
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,0
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,0
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,1
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,0
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,0
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,0
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,0
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,1
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,0
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,1
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,0
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,0
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,1
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,0
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,0
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,1
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,0
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,1
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,1
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,0
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,0
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,0
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,0
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,0
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,1
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,0
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,0
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,0
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,0
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,0
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,0
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,0
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,0
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [190]:
df1=train_set
df=df1.append(test_set)

In [191]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,1
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,1
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,0
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,1
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,0
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,0
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,0
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,0
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,1
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,0
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,0
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,0
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,0
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,1
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,0
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,1
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,0
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16251,81,?,26711,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,2936,0,20,United-States,0
16252,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,1
16253,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,1669,40,United-States,0
16254,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,1
16255,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States,1
16256,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,0
16257,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,0
16258,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,0
16259,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,8,United-States,0
16260,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,45,United-States,0
16261,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,1
16262,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
16263,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,0
16264,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States,0
16265,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,?,1
16266,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,32,United-States,0
16267,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,0
16268,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,36,United-States,0
16269,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,0
16270,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,0
16271,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,0
16272,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
16273,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,0
16274,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,0
16275,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,0
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,0
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,0
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,0
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,0
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,1

In [193]:
df.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [194]:
df.education.unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [195]:
df.marital_status.unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [140]:
df.occupation.unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [196]:
df.replace(' ?', np.nan).dropna().shape

(45222, 13)

In [198]:
df = df.replace(' ?', np.nan).dropna()

In [202]:
for feature in df.columns: # Loop through all columns in the dataframe
    if df[feature].dtype == 'object': # Only apply for columns with categorical strings
        df[feature] = pd.Categorical(df[feature]).codes # Replace strings with an integer

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 16280
Data columns (total 13 columns):
age               45222 non-null int64
workclass         45222 non-null int8
fnlwgt            45222 non-null int64
education         45222 non-null int8
education_num     45222 non-null int64
marital_status    45222 non-null int8
occupation        45222 non-null int8
relationship      45222 non-null int8
race              45222 non-null int8
sex               45222 non-null int8
hours_per_week    45222 non-null int64
native_country    45222 non-null int8
wage_class        45222 non-null int64
dtypes: int64(5), int8(8)
memory usage: 2.4 MB

In [204]:
y = df.wage_class.values

In [205]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,wage_class
0,39,5,77516,9,13,4,0,1,4,1,40,38,0
1,50,4,83311,9,13,2,3,0,4,1,13,38,0
2,38,2,215646,11,9,0,5,1,4,1,40,38,0
3,53,2,234721,1,7,2,5,0,2,1,40,38,0
4,28,2,338409,9,13,2,9,5,2,0,40,4,0
5,37,2,284582,12,14,2,3,5,4,0,40,38,0
6,49,2,160187,6,5,3,7,1,2,0,16,22,0
7,52,4,209642,11,9,2,3,0,4,1,45,38,1
8,31,2,45781,12,14,4,9,1,4,0,50,38,1
9,42,2,159449,9,13,2,3,0,4,1,40,38,1
10,37,2,280464,15,10,2,3,0,2,1,80,38,1
11,30,5,141297,9,13,2,9,0,1,1,40,18,1
12,23,2,122272,9,13,4,0,3,4,0,30,38,0
13,32,2,205019,7,12,4,11,1,2,1,50,38,0
15,34,2,245487,5,4,2,13,0,0,1,45,25,0
16,25,4,176756,11,9,4,4,3,4,1,35,38,0
17,32,2,186824,11,9,4,6,4,4,1,40,38,0
18,38,2,28887,1,7,2,11,0,4,1,50,38,0
19,43,4,292175,12,14,0,3,4,4,0,45,38,1
20,40,2,193524,10,16,2,9,0,4,1,60,38,1
21,54,2,302146,11,9,5,7,4,2,0,20,38,0
22,35,0,76845,6,5,2,4,0,2,1,40,38,0
23,43,2,117037,1,7,2,13,0,4,1,40,38,0
24,59,2,109015,11,9,0,12,4,4,0,40,38,0
25,56,1,216851,9,13,2,12,0,4,1,40,38,1
26,19,2,168294,11,9,4,2,3,4,1,40,38,0
28,39,2,367260,11,9,0,3,1,4,1,80,38,0
29,49,2,193366,11,9,2,2,0,4,1,40,38,0
30,23,1,190709,7,12,4,10,1,4,1,52,38,0
31,20,2,266015,15,10,4,11,3,2,1,44,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16248,25,2,242136,11,9,0,6,1,2,1,40,38,0
16249,31,2,112115,11,9,4,6,1,4,1,40,38,0
16250,49,3,77132,11,9,2,3,0,4,1,40,1,1
16252,60,2,117909,8,11,2,9,0,4,1,40,38,1
16253,39,2,229647,9,13,4,12,1,4,0,40,38,0
16254,38,2,149347,12,14,2,9,0,4,1,50,38,1
16255,43,1,23157,12,14,2,3,0,4,1,50,38,1
16256,23,2,93977,11,9,4,6,3,4,1,40,38,0
16257,73,3,159691,15,10,0,3,1,4,0,40,38,0
16258,35,2,176967,15,10,2,10,0,4,1,40,38,0
16259,66,2,344436,11,9,6,11,2,4,0,8,38,0
16260,27,2,430340,15,10,4,11,1,4,0,45,38,0
16261,40,2,202168,14,15,2,9,0,4,1,55,38,1
16262,51,2,82720,11,9,2,2,0,4,1,40,38,0
16263,22,2,269623,15,10,4,2,3,4,1,40,38,0
16264,64,4,136405,11,9,6,4,1,4,1,32,38,0
16266,55,2,224655,11,9,5,8,1,4,0,32,38,0
16267,38,2,247547,8,11,4,0,4,2,0,40,38,0
16268,58,2,292710,7,12,0,9,1,4,1,36,38,0
16269,32,2,173449,11,9,2,5,0,4,1,40,38,0
16270,48,2,285570,11,9,2,0,0,4,1,40,38,0
16271,61,2,89686,11,9,2,11,0,4,1,48,38,0
16272,31,2,440129,11,9,2,2,0,4,1,40,38,0
16273,25,2,350977,11,9,4,7,3,4,0,40,38,0
16274,48,1,349230,12,14,0,7,1,4,1,40,38,0
16275,33,2,245211,9,13,4,9,3,4,1,40,38,0
16276,39,2,215419,9,13,0,9,1,4,0,36,38,0
16278,38,2,374983,9,13,2,9,0,4,1,50,38,0
16279,44,2,83891,9,13,0,0,3,1,1,40,38,0
16280,35,3,182148,9,13,2,3,0,4,1,60,38,1

In [207]:
from sklearn.model_selection import GridSearchCV

In [211]:
#Separating the feature and the Label columns 
x=df.drop(labels='wage_class', axis=1)
y= df['wage_class']

In [212]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaled_data=scaler.fit_transform(x)

H:\anaconda\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int8, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
H:\anaconda\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int8, int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [214]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(scaled_data,y,test_size=0.3,random_state=42)

In [215]:
model = XGBClassifier(objective='binary:logistic')
model.fit(train_x, train_y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [216]:
# cheking training accuracy
y_pred = model.predict(train_x)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(train_y,predictions)
accuracy

0.8399620912967936

In [217]:
# cheking initial test accuracy
y_pred = model.predict(test_x)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(test_y,predictions)
accuracy

0.8355568659246702

In [221]:
param_grid={
   
    ' learning_rate':[1,0.5,0.1,0.01,0.001],
    'max_depth': [3,5,10,20],
    'n_estimators':[10,50]
    
}

In [222]:
grid= GridSearchCV(XGBClassifier(objective='binary:logistic'),param_grid, verbose=3)

In [223]:
grid.fit(train_x,train_y)

H:\anaconda\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

Fitting 3 folds for each of 40 candidates, totalling 120 fits
[CV]  learning_rate=1, max_depth=3, n_estimators=10 ..................
[CV]   learning_rate=1, max_depth=3, n_estimators=10, score=0.8203354496351748, total=   0.0s
[CV]  learning_rate=1, max_depth=3, n_estimators=10 ..................
[CV]   learning_rate=1, max_depth=3, n_estimators=10, score=0.8170789498625722, total=   0.0s
[CV]  learning_rate=1, max_depth=3, n_estimators=10 ..................
[CV]   learning_rate=1, max_depth=3, n_estimators=10, score=0.8155625059236091, total=   0.0s
[CV]  learning_rate=1, max_depth=3, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=3, n_estimators=50, score=0.8318013834928456, total=   0.3s
[CV]  learning_rate=1, max_depth=3, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=3, n_estimators=50, score=0.8295896123590181, total=   0.3s
[CV]  learning_rate=1, max_depth=3, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=3, n_estimators=50, score=0.8298739455975737, total=   0.3s
[CV]  learning_rate=1, max_depth=5, n_estimators=10 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=10, score=0.8256419975362456, total=   0.0s
[CV]  learning_rate=1, max_depth=5, n_estimators=10 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=10, score=0.828547057150981, total=   0.0s
[CV]  learning_rate=1, max_depth=5, n_estimators=10 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=10, score=0.8287366126433513, total=   0.0s
[CV]  learning_rate=1, max_depth=5, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=50, score=0.8349284563631195, total=   0.5s
[CV]  learning_rate=1, max_depth=5, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=50, score=0.8352762771301299, total=   0.5s
[CV]  learning_rate=1, max_depth=5, n_estimators=50 ..................
[CV]   learning_rate=1, max_depth=5, n_estimators=50, score=0.8362240545919818, total=   0.5s
[CV]  learning_rate=1, max_depth=10, n_estimators=10 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=10, score=0.8269686345115134, total=   0.2s
[CV]  learning_rate=1, max_depth=10, n_estimators=10 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=10, score=0.8244716140650176, total=   0.2s
[CV]  learning_rate=1, max_depth=10, n_estimators=10 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=10, score=0.8304426120746848, total=   0.2s
[CV]  learning_rate=1, max_depth=10, n_estimators=50 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=50, score=0.8290533497583625, total=   1.1s
[CV]  learning_rate=1, max_depth=10, n_estimators=50 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=50, score=0.8311060562979813, total=   1.2s
[CV]  learning_rate=1, max_depth=10, n_estimators=50 .................
[CV]   learning_rate=1, max_depth=10, n_estimators=50, score=0.8327172779831296, total=   1.1s
[CV]  learning_rate=1, max_depth=20, n_estimators=10 .................
[CV]   learning_rate=1, max_depth=20, n_estimators=10, score=0.817208376764901, total=   0.3s
[CV]  learning_rate=1, max_depth=20, n_estimators=10 .................
[CV]   learning_rate=1, max_depth=20, n_estimators=10, score=0.814519950715572, total=   0.4s
[CV]  learning_rate=1, max_depth=20, n_estimators=10 .................
[CV]   learning_rate=1, max_depth=20, n_estimators=10, score=0.8175528385934983, total=   0.4s
[CV]  learning_rate=1, max_depth=20, n_estimators=50 .................
[CV]   learning_rate=1, max_depth=20, n_estimators=50, score=0.8228939638017625, total=   2.3s
[CV]  learning_rate=1, max_depth=20, n_estimators=50 .................
[CV]   learning_rate=1, max_depth=20, n_estimators=50, score=0.8182162828167946, total=   2.3s
[CV]  learning_rate=1, max_depth=20, n_estimators=50 .................
[CV]   learning_rate=1, max_depth=20, n_estimators=50, score=0.8215335039332765, total=   2.3s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=10, score=0.8203354496351748, total=   0.0s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=10, score=0.8170789498625722, total=   0.0s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=10, score=0.8155625059236091, total=   0.0s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=50, score=0.8318013834928456, total=   0.3s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=50, score=0.8295896123590181, total=   0.3s
[CV]  learning_rate=0.5, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=3, n_estimators=50, score=0.8298739455975737, total=   0.3s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=10, score=0.8256419975362456, total=   0.0s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=10, score=0.828547057150981, total=   0.0s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=10, score=0.8287366126433513, total=   0.0s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=50, score=0.8349284563631195, total=   0.5s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=50, score=0.8352762771301299, total=   0.5s
[CV]  learning_rate=0.5, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.5, max_depth=5, n_estimators=50, score=0.8362240545919818, total=   0.5s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=10, score=0.8269686345115134, total=   0.2s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=10, score=0.8244716140650176, total=   0.2s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=10, score=0.8304426120746848, total=   0.2s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=50, score=0.8290533497583625, total=   1.1s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=50, score=0.8311060562979813, total=   1.1s
[CV]  learning_rate=0.5, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.5, max_depth=10, n_estimators=50, score=0.8327172779831296, total=   1.2s
[CV]  learning_rate=0.5, max_depth=20, n_estimators=10 ...............
[CV]   learning_rate=0.5, max_depth=20, n_estimators=10, score=0.817208376764901, total=   0.3s
[CV]  learning_rate=0.5, max_depth=20, n_estimators=10 ...............
[CV]   learning_rate=0.5, max_depth=20, n_estimators=10, score=0.814519950715572, total=   0.3s
[CV]  learning_rate=0.5, max_depth=20, n_estimators=10 ...............
[CV]   learning_rate=0.5, max_depth=20, n_estimators=10, score=0.8175528385934983, total=   0.4s
[CV]  learning_rate=0.5, max_depth=20, n_estimators=50 ...............
[CV]   learning_rate=0.5, max_depth=20, n_estimators=50, score=0.8228939638017625, total=   2.2s
[CV]  learning_rate=0.5, max_depth=20, n_estimators=50 ...............
[CV]   learning_rate=0.5, max_depth=20, n_estimators=50, score=0.8182162828167946, total=   2.3s
[CV]  learning_rate=0.5, max_depth=20, n_estimators=50 ...............
[CV]   learning_rate=0.5, max_depth=20, n_estimators=50, score=0.8215335039332765, total=   2.3s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=10, score=0.8203354496351748, total=   0.0s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=10 ................

[CV]   learning_rate=0.1, max_depth=3, n_estimators=10, score=0.8170789498625722, total=   0.0s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=10, score=0.8155625059236091, total=   0.0s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=50, score=0.8318013834928456, total=   0.3s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=50, score=0.8295896123590181, total=   0.3s
[CV]  learning_rate=0.1, max_depth=3, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=3, n_estimators=50, score=0.8298739455975737, total=   0.3s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=10, score=0.8256419975362456, total=   0.0s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=10, score=0.828547057150981, total=   0.0s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=10 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=10, score=0.8287366126433513, total=   0.0s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=50, score=0.8349284563631195, total=   0.5s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=50, score=0.8352762771301299, total=   0.5s
[CV]  learning_rate=0.1, max_depth=5, n_estimators=50 ................
[CV]   learning_rate=0.1, max_depth=5, n_estimators=50, score=0.8362240545919818, total=   0.4s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=10, score=0.8269686345115134, total=   0.2s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=10, score=0.8244716140650176, total=   0.2s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=10 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=10, score=0.8304426120746848, total=   0.2s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=50, score=0.8290533497583625, total=   1.1s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=50, score=0.8311060562979813, total=   1.1s
[CV]  learning_rate=0.1, max_depth=10, n_estimators=50 ...............
[CV]   learning_rate=0.1, max_depth=10, n_estimators=50, score=0.8327172779831296, total=   1.1s
[CV]  learning_rate=0.1, max_depth=20, n_estimators=10 ...............
[CV]   learning_rate=0.1, max_depth=20, n_estimators=10, score=0.817208376764901, total=   0.3s
[CV]  learning_rate=0.1, max_depth=20, n_estimators=10 ...............
[CV]   learning_rate=0.1, max_depth=20, n_estimators=10, score=0.814519950715572, total=   0.3s
[CV]  learning_rate=0.1, max_depth=20, n_estimators=10 ...............
[CV]   learning_rate=0.1, max_depth=20, n_estimators=10, score=0.8175528385934983, total=   0.3s
[CV]  learning_rate=0.1, max_depth=20, n_estimators=50 ...............
[CV]   learning_rate=0.1, max_depth=20, n_estimators=50, score=0.8228939638017625, total=   2.3s
[CV]  learning_rate=0.1, max_depth=20, n_estimators=50 ...............
[CV]   learning_rate=0.1, max_depth=20, n_estimators=50, score=0.8182162828167946, total=   2.3s
[CV]  learning_rate=0.1, max_depth=20, n_estimators=50 ...............
[CV]   learning_rate=0.1, max_depth=20, n_estimators=50, score=0.8215335039332765, total=   2.3s
[CV]  learning_rate=0.01, max_depth=3, n_estimators=10 ...............
[CV]   learning_rate=0.01, max_depth=3, n_estimators=10, score=0.8203354496351748, total=   0.0s
[CV]  learning_rate=0.01, max_depth=3, n_estimators=10 ...............
[CV]   learning_rate=0.01, max_depth=3, n_estimators=10, score=0.8170789498625722, total=   0.0s
[CV]  learning_rate=0.01, max_depth=3, n_estimators=10 ...............
[CV]   learning_rate=0.01, max_depth=3, n_estimators=10, score=0.8155625059236091, total=   0.0s
[CV]  learning_rate=0.01, max_depth=3, n_estimators=50 ...............
[CV]   learning_rate=0.01, max_depth=3, n_estimators=50, score=0.8318013834928456, total=   0.3s
[CV]  learning_rate=0.01, max_depth=3, n_estimators=50 ...............
[CV]   learning_rate=0.01, max_depth=3, n_estimators=50, score=0.8295896123590181, total=   0.3s
[CV]  learning_rate=0.01, max_depth=3, n_estimators=50 ...............
[CV]   learning_rate=0.01, max_depth=3, n_estimators=50, score=0.8298739455975737, total=   0.3s
[CV]  learning_rate=0.01, max_depth=5, n_estimators=10 ...............
[CV]   learning_rate=0.01, max_depth=5, n_estimators=10, score=0.8256419975362456, total=   0.0s
[CV]  learning_rate=0.01, max_depth=5, n_estimators=10 ...............
[CV]   learning_rate=0.01, max_depth=5, n_estimators=10, score=0.828547057150981, total=   0.0s
[CV]  learning_rate=0.01, max_depth=5, n_estimators=10 ...............
[CV]   learning_rate=0.01, max_depth=5, n_estimators=10, score=0.8287366126433513, total=   0.0s
[CV]  learning_rate=0.01, max_depth=5, n_estimators=50 ...............
[CV]   learning_rate=0.01, max_depth=5, n_estimators=50, score=0.8349284563631195, total=   0.5s
[CV]  learning_rate=0.01, max_depth=5, n_estimators=50 ...............
[CV]   learning_rate=0.01, max_depth=5, n_estimators=50, score=0.8352762771301299, total=   0.5s
[CV]  learning_rate=0.01, max_depth=5, n_estimators=50 ...............
[CV]   learning_rate=0.01, max_depth=5, n_estimators=50, score=0.8362240545919818, total=   0.5s
[CV]  learning_rate=0.01, max_depth=10, n_estimators=10 ..............
[CV]   learning_rate=0.01, max_depth=10, n_estimators=10, score=0.8269686345115134, total=   0.2s
[CV]  learning_rate=0.01, max_depth=10, n_estimators=10 ..............
[CV]   learning_rate=0.01, max_depth=10, n_estimators=10, score=0.8244716140650176, total=   0.2s
[CV]  learning_rate=0.01, max_depth=10, n_estimators=10 ..............
[CV]   learning_rate=0.01, max_depth=10, n_estimators=10, score=0.8304426120746848, total=   0.2s
[CV]  learning_rate=0.01, max_depth=10, n_estimators=50 ..............
[CV]   learning_rate=0.01, max_depth=10, n_estimators=50, score=0.8290533497583625, total=   1.2s
[CV]  learning_rate=0.01, max_depth=10, n_estimators=50 ..............
[CV]   learning_rate=0.01, max_depth=10, n_estimators=50, score=0.8311060562979813, total=   1.2s
[CV]  learning_rate=0.01, max_depth=10, n_estimators=50 ..............
[CV]   learning_rate=0.01, max_depth=10, n_estimators=50, score=0.8327172779831296, total=   1.2s
[CV]  learning_rate=0.01, max_depth=20, n_estimators=10 ..............
[CV]   learning_rate=0.01, max_depth=20, n_estimators=10, score=0.817208376764901, total=   0.3s
[CV]  learning_rate=0.01, max_depth=20, n_estimators=10 ..............
[CV]   learning_rate=0.01, max_depth=20, n_estimators=10, score=0.814519950715572, total=   0.3s
[CV]  learning_rate=0.01, max_depth=20, n_estimators=10 ..............
[CV]   learning_rate=0.01, max_depth=20, n_estimators=10, score=0.8175528385934983, total=   0.4s
[CV]  learning_rate=0.01, max_depth=20, n_estimators=50 ..............
[CV]   learning_rate=0.01, max_depth=20, n_estimators=50, score=0.8228939638017625, total=   2.3s
[CV]  learning_rate=0.01, max_depth=20, n_estimators=50 ..............
[CV]   learning_rate=0.01, max_depth=20, n_estimators=50, score=0.8182162828167946, total=   2.3s
[CV]  learning_rate=0.01, max_depth=20, n_estimators=50 ..............
[CV]   learning_rate=0.01, max_depth=20, n_estimators=50, score=0.8215335039332765, total=   2.3s
[CV]  learning_rate=0.001, max_depth=3, n_estimators=10 ..............
[CV]   learning_rate=0.001, max_depth=3, n_estimators=10, score=0.8203354496351748, total=   0.0s
[CV]  learning_rate=0.001, max_depth=3, n_estimators=10 ..............
[CV]   learning_rate=0.001, max_depth=3, n_estimators=10, score=0.8170789498625722, total=   0.0s
[CV]  learning_rate=0.001, max_depth=3, n_estimators=10 ..............
[CV]   learning_rate=0.001, max_depth=3, n_estimators=10, score=0.8155625059236091, total=   0.0s
[CV]  learning_rate=0.001, max_depth=3, n_estimators=50 ..............

[CV]   learning_rate=0.001, max_depth=3, n_estimators=50, score=0.8318013834928456, total=   0.3s
[CV]  learning_rate=0.001, max_depth=3, n_estimators=50 ..............
[CV]   learning_rate=0.001, max_depth=3, n_estimators=50, score=0.8295896123590181, total=   0.3s
[CV]  learning_rate=0.001, max_depth=3, n_estimators=50 ..............
[CV]   learning_rate=0.001, max_depth=3, n_estimators=50, score=0.8298739455975737, total=   0.3s
[CV]  learning_rate=0.001, max_depth=5, n_estimators=10 ..............
[CV]   learning_rate=0.001, max_depth=5, n_estimators=10, score=0.8256419975362456, total=   0.0s
[CV]  learning_rate=0.001, max_depth=5, n_estimators=10 ..............
[CV]   learning_rate=0.001, max_depth=5, n_estimators=10, score=0.828547057150981, total=   0.0s
[CV]  learning_rate=0.001, max_depth=5, n_estimators=10 ..............
[CV]   learning_rate=0.001, max_depth=5, n_estimators=10, score=0.8287366126433513, total=   0.0s
[CV]  learning_rate=0.001, max_depth=5, n_estimators=50 ..............
[CV]   learning_rate=0.001, max_depth=5, n_estimators=50, score=0.8349284563631195, total=   0.5s
[CV]  learning_rate=0.001, max_depth=5, n_estimators=50 ..............
[CV]   learning_rate=0.001, max_depth=5, n_estimators=50, score=0.8352762771301299, total=   0.5s
[CV]  learning_rate=0.001, max_depth=5, n_estimators=50 ..............
[CV]   learning_rate=0.001, max_depth=5, n_estimators=50, score=0.8362240545919818, total=   0.5s
[CV]  learning_rate=0.001, max_depth=10, n_estimators=10 .............
[CV]   learning_rate=0.001, max_depth=10, n_estimators=10, score=0.8269686345115134, total=   0.2s
[CV]  learning_rate=0.001, max_depth=10, n_estimators=10 .............
[CV]   learning_rate=0.001, max_depth=10, n_estimators=10, score=0.8244716140650176, total=   0.2s
[CV]  learning_rate=0.001, max_depth=10, n_estimators=10 .............
[CV]   learning_rate=0.001, max_depth=10, n_estimators=10, score=0.8304426120746848, total=   0.2s
[CV]  learning_rate=0.001, max_depth=10, n_estimators=50 .............
[CV]   learning_rate=0.001, max_depth=10, n_estimators=50, score=0.8290533497583625, total=   1.1s
[CV]  learning_rate=0.001, max_depth=10, n_estimators=50 .............
[CV]   learning_rate=0.001, max_depth=10, n_estimators=50, score=0.8311060562979813, total=   1.1s
[CV]  learning_rate=0.001, max_depth=10, n_estimators=50 .............
[CV]   learning_rate=0.001, max_depth=10, n_estimators=50, score=0.8327172779831296, total=   1.1s
[CV]  learning_rate=0.001, max_depth=20, n_estimators=10 .............
[CV]   learning_rate=0.001, max_depth=20, n_estimators=10, score=0.817208376764901, total=   0.3s
[CV]  learning_rate=0.001, max_depth=20, n_estimators=10 .............
[CV]   learning_rate=0.001, max_depth=20, n_estimators=10, score=0.814519950715572, total=   0.3s
[CV]  learning_rate=0.001, max_depth=20, n_estimators=10 .............
[CV]   learning_rate=0.001, max_depth=20, n_estimators=10, score=0.8175528385934983, total=   0.4s
[CV]  learning_rate=0.001, max_depth=20, n_estimators=50 .............
[CV]   learning_rate=0.001, max_depth=20, n_estimators=50, score=0.8228939638017625, total=   2.2s
[CV]  learning_rate=0.001, max_depth=20, n_estimators=50 .............
[CV]   learning_rate=0.001, max_depth=20, n_estimators=50, score=0.8182162828167946, total=   2.3s
[CV]  learning_rate=0.001, max_depth=20, n_estimators=50 .............
[CV]   learning_rate=0.001, max_depth=20, n_estimators=50, score=0.8215335039332765, total=   2.3s

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 120 out of 120 | elapsed:  1.5min finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={' learning_rate': [1, 0.5, 0.1, 0.01, 0.001], 'max_depth': [3, 5, 10, 20], 'n_estimators': [10, 50]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [224]:
grid.best_params_

{' learning_rate': 1, 'max_depth': 5, 'n_estimators': 50}

In [225]:
new_model=XGBClassifier(learning_rate= 1, max_depth= 5, n_estimators= 50)
new_model.fit(train_x, train_y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=1,
       max_delta_step=0, max_depth=5, min_child_weight=1, missing=None,
       n_estimators=50, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [226]:
y_pred_new = new_model.predict(test_x)
predictions_new = [round(value) for value in y_pred_new]
accuracy_new = accuracy_score(test_y,predictions_new)
accuracy_new

0.8246480430456254